<% if version_issues.any? %>
  <% version_issues.each do |issue| %>
    <% issue_estmated_value = estimated_value(issue) %>
    <div class="issue-card hascontextmenu" data-id="<%= issue.id %>" data-estimated-hours="<%= issue_estmated_value %>">
      <% if issue_estmated_value > 0 %>
        <span class="hours"><%= ("%.2f" % issue_estmated_value) + estimated_unit %></span>
      <% end %>
      <%= check_box_tag("ids[]", issue.id, false, :id => nil, :class => 'checkbox') %>
      <%= link_to_issue(issue, :project => (@project != issue.project)) %>
      </br>
      <%= issue.status %>
      </br>
      <%= find_cf_value_by_name(issue, 'Оценка трудозатрат с учетом тестирования') %>
    </div>
  <% end %>

  <% if version_issues.first.fixed_version_id.blank? %>
    <div class="pagination-wrapper">
    <span class="pagination">
        <% pagination_links_full(@issue_pages, @issue_count, :per_page_links => false)  do |text, parameters, options| %>
          <%= link_to text, autocomplete_agile_versions_path(parameters.merge(:q => params[:q], :project_id => @project)), :remote => true %>
        <% end %>
    </span>
    </div>
  <% end %>
<% end %>
